body{background-color: blue}

.uu{
    width: 300px;
    height: 400px;}

.ea{
    font-family: comic sans;
    color: yellow; 


}

.ui{
    font-family: comic sans;
    color: yellow;
}

h1{ 
    font-family: comic sans;
    color : yellow; }
